<table width="100%"  border="0">
  <tr>
    <td><img src="template/images/Main_m.jpg" alt="Bar" width="750" height="50" border="0" usemap="#Maping"></td>
  </tr>
</table>



<map name="Maping" id="Maping">
  <area shape="rect" coords="230,8,346,39" href="AllNews.asp" alt="News">
  <area shape="rect" coords="349,9,468,40" href="#" alt="Gallery">
  <area shape="rect" coords="471,9,587,39" href="Contact.asp" alt="Contact">
  <area shape="rect" coords="591,10,708,38" href="Adverts.asp" alt="Adverts">
  <area shape="rect" coords="713,11,740,36" href="Default.asp" alt="Home Page">
</map>
